{% extends 'nav.j2' %}
{% block head %}
<title>Accounts Admin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block body %}

<div class="content">
	<h1>Admin Panel: All Accounts</h1>
		<div class="instruction">
			<table>
				<thead>
					<tr>
						{% for key in accounts[0].keys() %}
						<th>{{ key }}</th>
						{% endfor %}
					</tr>
				<tbody>
					{% for account in accounts %}
					<tr>
						{% for key in account.keys() %}
						<td>{{account[key]}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
			</table>
		</div
</div>
{% endblock %}
