
{% block head %}
<title>Accounts Admin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block body %}

<div class="content">
	<h1>Account Creation</h1>

    <p>Thank you for registering for our site!</p>

		<div id="addAccount">
		<!-- form to INSERT new data into Account-->
		<form id="addAccount" action="/account_creation" method="post">
			<legend><strong>Please create an account. All fields are required!</strong></legend>
			<fieldset>
				<label for="username">Username: </label>
				<input type="text" id ="accountUsername" name="accountUsername" required>

				<label for="first_name">First name: </label>
				<input type="text" id="accountFirstName" name="accountFirstName" required>

				<label for="accountLastName">Last name: </label>
				<input type="text" id="accountLastName" name="accountLastName" required>

				<label for="accountPassword">Password: </label>
				<input type="text" class="" id="accountPassword" name="accountPassword" required>

				<label for="accountTeamID">Team ID</label>
                <select type = "number" class="form-control" id="accountTeamID" name="accountTeamID" pattern="[0-4]{1}" placeholder="" required>
				<!-- these are hard coded, but you can add code to make this dynamic -->
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
				</select>

				<label for="accountRole">Account Role:</label>
				<select class="form-control" id="accountRole" name="accountRole" pattern="[0-4]{1}" placeholder="" required>
				<!-- these are hard coded, but you can add code to make this dynamic -->
					<option value="Developer">Developer</option>
					<option value="Scrum Master">Scrum Master</option>
					<option value="Project Leader">Project Leader</option>
                    <option value="CEO">CEO</option>
				</select>

            </fieldset>

            <!-- Create 'Add Account' and 'Cancel' buttons -->
			<input type="submit" value="Add Account" name="addAccountSubmit" class="btn btn-primary" style="margin:.5rem;">
            <a href='/login'><input class="btn" type="button" value="Cancel"></a>
        </form>

	</div>
</div>
{% endblock %}