<html>

<head>
	<title>Change the password to your account</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br>
    <div id="edit">
            <form id="editPassword" action="/edit_password/{{data[0].id}}" method="post">
                <legend><strong>Change Your Password</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].accountID}}" class="form-control" id="accountID" name="accountID" required>
                    <input type="hidden" class="form-control" id="accountUsername" name="accountUsername" value="{{data[0].accountUsername}}" required>
                    <input type="hidden" class="form-control" id="accountFirstName" name="accountFirstName" value="{{data[0].accountFirstName}}" required>
                    <input type="hidden" class="form-control" id="accountLastName" name="accountLastName" value="{{data[0].accountLastName}}" required>
                    <input type="hidden" class="form-control" id="accountTeamID" name="accountTeamID" value="{{data[0].accountTeamID}}" required>
                    <input type="hidden" class="form-control" id="accountRole" name="accountRole" value="{{data[0].accountRole}}" required>
                    
                    <label for="accountPassword">New Password:</label>
                    <input type="text" class="form-control" id="accountPassword" name="accountPassword" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].accountPassword}}" required>
                    
                </fieldset>
                <button type="submit" formaction="{{ url_for('update_password') }}" formmethod="post" name="update_password" value="Update Password">Update</button>
                <a href='/help'><input class="btn" type="button" value="Cancel"></a>
            </form>
</html>