<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% extends 'nav.j2' %}
{% block body %}

<div class="content">
<p>Secret Admin Accounts Panel</p>

<a href="/accounts">Admin Accounts Panel</a>

</div>

{% endblock %}
