<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<h1 id="site-title">Opinionated Project Management</h1>
<div class="login-container">
	<div class="login-content">
		<h2 id="login-text">Login</h2>
		<form action="/login" method="POST">
			{% if screenMsg is defined and screenMsg %}
			<div class="announcement">{{ screenMsg }}</div>
			{% endif %}
			<div class="form">
				<div class="input">
					<label for="accountUsername">Username:</label>
					<input type="text" id="accountUsername" name="accountUsername" required>
				</div>
			</div>

			<div class="form">
				<div class="input">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required>
				</div>
			</div>

			<button class="button" type="submit" id="login-button">Login</button>
		</form>

		<form action="/account_creation" method="POST"><button class="button" type="submit" id="create-account-button">Create an Account</button></form>
</div>
</div>
</body>
</html>