<html>
<head>
    <title>Home - Opinionated Project Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="nav-container">
        <div class="nav-buttons">
            <a href="{{ url_for('main') }}" class="nav-button main">Home</a>
            <a href="{{ url_for('projects') }}" class="nav-button">Projects</a>
            <a href="{{ url_for('tasks') }}" class="nav-button">Tasks</a>
            <a href="{{ url_for('help') }}" class="nav-button">Help</a>
            <a href="{{ url_for('login') }}" class="nav-button">Logout</a>
        </div>
    </div>

    <div class="content">
        <h1>Opinionated Project Management</h1>

        <div class="instruction">
            Welcome {{ first_name }} to Opinionated Project Management.
        </div>

        <div class="instruction">
            To see your projects please click on the Projects page.
        </div>

        <div class="instruction">
            To see your tasks please click on the Tasks page.
        </div>

        <div class="instruction">
            For FAQs and help please click on the HELP page.
        </div>
    </div>
</body>
</html>