<title>Projects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% extends 'nav.j2' %}
{% block body %}

<div class="content">
	<h1><span class="username">{{ username }}</span> Projects</h1>

	<div class="projects-grid">
		<a class="project-card"><div class="project-content">Project 1</div></a>
		<a class="project-card"><div class="project-content">Project 2</div></a>
		<a class="project-card"><div class="project-content">Project 3</div></a>

		<a class="project-card">
			<div class="project-content">
				<button type="submit" class="project-button">Create New Project</button>
			</div>
		</a>
	</div>

</div>

{% endblock %}
