<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <div class="nav">
    <a class="active" href="#home">Home</a>
    <a href="#Projects">Projects</a>
    <a href="#Tasks">Tasks</a>
    <a href="#help">Help</a>
    <a href="##logout">Logout</a>
</div>
</head>
<body>
    <h1>Projects</h1>
    <div class="login-container">
        <div class="login-content">
            <h2><u>Opinionated Project Management</u></h2>

            <p>Welcome _NAME_ to Opinionated Project Management </p>
            <p>To see your projects please click the <b>Projects</b> page </p>
            <p>To see your Tasks please click the <b>Tasks</b> page </p>
            <br>
            <p>For FAQsand help please click the <b>HELP</b> page </p>

        </div>


    </div>
</body>
</html>