{% extends 'nav.j2' %}
{% block head %}
<title>Sprints</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/sprints.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block body %}

<div class="content">
	<h1>Sprints</h1>
		<div class="instruction">
			<table>
				<thead>
					<tr>
						{% for key in sprints[0].keys() %}
						<th>{{ key }}</th>
						{% endfor %}
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				<tbody>
					{% for sprint in sprints %}
					<tr>
						{% for key in sprint.keys() %}
						<td>{{sprint[key]}}</td>
						{% endfor %}
						<td><a href="edit_sprints/{{sprint.sprintID}}" class="btn btn-default edit-button">Edit</a></td>
						<td><a href="delete_sprint/{{sprint.sprintID}}" class="btn btn-default delete-button">Delete</a></td>
					</tr>
					{% endfor %}
			</table>
		</div>

		<div id="addSprint">
		<!-- form to INSERT new data into sprints-->
		<form id="addSprint" action="/sprints" method="post">
			<legend><strong>Add Sprint</strong></legend>
			<fieldset>
				<label for="sprintName">Sprint Name: </label>
				<input type="text" id ="sprintName" name="sprintName" required>

				<label for="sprintStart">Sprint Start: </label>
				<input type="date" id ="sprintStart" name="sprintStart" required>

				<label for="sprintEnd">Sprint End: </label>
				<input type="date" id ="sprintEnd" name="sprintEnd" required>

            </fieldset>

            <!-- Create 'Add Sprints' -->
			<input type="submit" value="Add Sprint" name="addSprintSubmit" class="btn btn-primary submit-button" style="margin:.5rem;">
        </form>

	</div>
</div>
{% endblock %}