<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <h1>Login Screen</h1>
    <div class="login-container">
        <div class="login-content">
            <h2><u>Opinionated Project Management</u></h2>

            <p>Thank you for using our project management website. Please enter in your user credentials below:</p>

            <div class="form">
                <div class="input">
                    <label>Username:</label>
                    <input type="text">
                </div>
            </div>

            <div class="form">
                <div class="input">
                    <label>Password:</label>
                    <input type="password">
                </div>
            </div>

            <button class="login-button">Login</button>
        </div>
    </div>
</body>
</html>